tinkoff-invest-api {
  token:
  mode: sandbox
  rate-limit-pause-millis: 90000
}
postgres {
  host:
  port:
  db:
  user:
  password:
}
exchange {
  names: [MOEX, MOEX_PLUS, MOEX_EVENING_WEEKEND, MOEX_WEEKEND]
  start-time-hours: 7
  uptrend-check-timedelta-hours: 2
  candle-timedelta-hours: 1
}
scheduler {
  table-name: scheduled_tasks
  num-threads: 5
}
pct-scale: 3
price-scale: 2
uptrend-threshold-pct: 3
num-uptrend-shares: 10
income-tax-pct: 13
